WEIXIN_CLAWBOT_TOKEN="<YOUR_BOT_TOKEN>"
WEIXIN_CLAWBOT_USER_ID="<YOUR_BOT_USER_ID>"
WEIXIN_CLAWBOT_BASE_URL="https://ilinkai.weixin.qq.com"

# Optional verbose debugging
WEIXIN_CLAWBOT_DEBUG="false"
EXAMPLE_DEBUG="false"
